<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./element.index.css">
  <style>
    .inline {
      display: flex;
      justify-content: space-around;
    }
  </style>
  <title>super-market</title>
</head>

<body>
<div id="app">

  <el-row :gutter="20">
    <el-col :span="6">
      <el-select v-model="category" clearable placeholder="请选择" @change="getData">
        <el-option
          v-for="(item,index) in categories"
          :key="index"
          :label="item"
          :value="item">
        </el-option>
      </el-select>
    </el-col>
    <el-col :span="6">
      <el-input placeholder="可输入商品名称" v-model="search" class="input-with-select">
        <el-button slot="append" icon="el-icon-search" @click="getData"></el-button>
      </el-input>
    </el-col>

    <el-col :span="6">
      <div class="grid-content bg-purple"></div>
    </el-col>

    <el-col :span="6">
      <div class="grid-content bg-purple"></div>
    </el-col>
  </el-row>

  <el-table stripe :data="products" style="width: 100%">
    <el-table-column prop="name" label="名称">
    </el-table-column>
    <el-table-column prop="price" label="价格">
    </el-table-column>
    <el-table-column prop="category" label="种类">
    </el-table-column>
    <el-table-column prop="repertory" label="库存">
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <i class="el-icon-delete" @click="deleteByID(scope.row)"></i>
        <i class="el-icon-box" @click="updateByID(scope.row)"></i>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination layout="total,prev, pager, next" :page-size="10" @current-change="currentChange" :total="total">
  </el-pagination>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./element.index.js"></script>
<script src="./axios.min.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      page: 1,
      total: 0,
      products: [],
      categories: [],
      category: [],
      search: ''
    },
    created() {
      this.getData()
      this.getCategory()
    },
    methods: {
      async currentChange(page) {
        this.page = page;
        await this.getData()
      },
      async getData() {
        const res = await axios.get(`/getProducts?page=${this.page}&category=${this.category}&keyword=${this.search}&size=10`)
        this.products = res.data.data.list
        this.total = res.data.data.total
      },
      async getCategory() {
        const res = await axios.get('/getCategory')
        this.categories = res.data.data
      },
      async deleteByID(row) {
        console.log(row)
        const res = await axios.delete(`/deleteByID?id=${row._id}`)
        await this.getData()
      },
      async updateByID(row) {
        console.log(row)
        const res = await axios.put(`/updateProduct?id=${row._id}`)
        await this.getData()
      }
    }
  });
</script>
</body>

</html>
